@charset "UTF-8";
* { margin: 0; padding: 0; }

body{
	background : #E4E4E4;
}
#contents{
	width : 1200px;
	background-color : white;
	margin : 40px auto;
	padding : 50px;
}
h2{
	padding-bottom : 20px;
	margin-left : 10px;
	color : #8C8C8C;
	font-family: 'Do Hyeon', sans-serif;
}
#insertThema{
	display : block;
	text-align: center;
	border : 3px solid #F15F5F;
	color : #F15F5F;
	font-size : 1.5em;
	font-weight : bold;
	padding : 10px;
	border-radius: 5px;
}
.themaTb td{
	text-align: left;
}
.themaTb{
	width : 1100px;
	height : 150px;
	border-bottom : 1px solid #8C8C8C;
	margin: 10px auto;
}
.star{
	width:20px;
}
.mbtn{
	display : inline-block;
	float : right;
	font-weight: bold;
	padding-right : 10px;
	
}
.th_img{
	width:250px;
	padding-right : 20px;
}
.th_name{
	font-family: 'Sunflower', sans-serif;
	font-weight: bold;
	font-size : 30px;
}
.th_contents{
	font-family: 'Sunflower', sans-serif;
	color : #8C8C8C;
}

